<div>Methods:</div>

<div class="methods">
  <div class="method">
    <div class="request">
      <div class="action">GET</div>
      <div class="path">/health-check/is-corrupted</div>
    </div>
    <div class="body">
      <div class="params">userId: <input type="number" [(ngModel)]="isCorruptedUserId" /></div>
    </div>
    <button mat-raised-button color="primary" (click)="getIsCorrupted()">Call API</button>
    <div class="response">
      {{ isCorruptedUserIdResponse | json }}
    </div>
  </div>
  <div class="method">
    <div class="request">
      <div class="action">POST</div>
      <div class="path">/health-check/is-corrupted</div>
    </div>
    <div class="body">
      <textarea
        [(ngModel)]="isCorruptedFilesystem"
        placeholder="Paste body here. Must be properly formatted JSON"
      ></textarea>
    </div>
    <button mat-raised-button color="primary" (click)="postIsCorrupted()">Call API</button>
    <div class="response">
      {{ isCorruptedFilesystemResponse | json }}
    </div>
  </div>
  <div class="method">
    <div class="request">
      <div class="action">GET</div>
      <div class="path">/health-check/corrupted-files</div>
    </div>
    <div class="body">
      <div class="params">userId: <input type="number" [(ngModel)]="corruptedUserId" /></div>
    </div>
    <button mat-raised-button color="primary" (click)="getCorrupted()">Call API</button>
    <div class="response">
      {{ corruptedResponse | json }}
    </div>
  </div>
  <div class="method">
    <div class="request">
      <div class="action">GET</div>
      <div class="path">/health-check/uncorrupted-filesystem</div>
    </div>
    <div class="body">
      <div class="params">userId: <input type="number" [(ngModel)]="uncorruptedUserId" /></div>
      <input type="checkbox" [(ngModel)]="uncorruptedStrict" /> strict mode
    </div>
    <button mat-raised-button color="primary" (click)="getUncorrupted()">Call API</button>
    <div class="response">
      {{ uncorruptedResponse | json }}
    </div>
  </div>
  <div class="method">
    <div class="request">
      <div class="action">POST</div>
      <div class="path">/health-check/fix-corrupted</div>
    </div>
    <div class="body">
      <div class="params">userId: <input type="number" [(ngModel)]="fixCorruptedUserId" /></div>
      <textarea
        [(ngModel)]="fixCorruptedBody"
        placeholder="Paste body here. Must be properly formatted JSON"
      ></textarea>
    </div>
    <button mat-raised-button color="primary" (click)="fixCorrupted()">Call API</button>
    <div class="response">
      {{ fixCorruptedResponse | json }}
    </div>
  </div>
</div>
